In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn import datasets

In [2]:
iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
y = pd.DataFrame(iris['target'], columns=['target'])
data = pd.concat([x,y], axis=1)
data.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

## Pandas Series

In [4]:
s1 = pd.Series([1,3,6,np.nan,44,1])
print(type(s1))
s1

<class 'pandas.core.series.Series'>

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [5]:
s2 = pd.Series([1,2,3], index=['a','b','c'])
print(type(s2))
s2

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [6]:
s2['a']

1

In [8]:
print(type(data['sepal width (cm)'].head(5)))
data['sepal width (cm)'].head(5)

<class 'pandas.core.series.Series'>

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal width (cm), dtype: float64

In [9]:
data[['sepal width (cm)']].head(5)

   sepal width (cm)
0               3.5
1               3.0
2               3.2
3               3.1
4               3.6

In [10]:
type(data[['sepal width (cm)']])

pandas.core.frame.DataFrame

## Pandas Dataframe

In [12]:
df = pd.DataFrame(np.random.randn(6,4),columns=['a','b','c','d'])
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

          a         b         c         d
0 -0.411870 -0.734146  0.628192 -0.898288
1  0.157138 -0.385210 -1.389337  0.022511
2 -0.505024  0.172509  1.116288  0.713833
3 -1.089659 -0.527040 -0.601095 -0.259336
4  0.100460  0.375399  0.230709 -1.260281
5  1.122147  0.719858 -1.552445 -1.161770

## DataFrame Basic information (DataFrame基本資料)

In [14]:
data.add(1).head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,4.5,2.4,1.2,1
1,5.9,4.0,2.4,1.2,1
2,5.7,4.2,2.3,1.2,1

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
target               150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

In [17]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [18]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [19]:
data.sort_values(by='sepal length (cm)').head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
13,4.3,3.0,1.1,0.1,0
42,4.4,3.2,1.3,0.2,0
38,4.4,3.0,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
41,4.5,2.3,1.3,0.3,0

## Data Selection(資料選取)

In [20]:
data['sepal length (cm)'].head(5)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [22]:
data['sepal length (cm)'][3:5]

3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [23]:
data[3:5]['sepal length (cm)']

3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [24]:
data[['sepal length (cm)','sepal width (cm)']].head(5)

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [25]:
data[['sepal length (cm)','sepal width (cm)']][5:10]

   sepal length (cm)  sepal width (cm)
5                5.4               3.9
6                4.6               3.4
7                5.0               3.4
8                4.4               2.9
9                4.9               3.1

In [27]:
data.loc[5:10,['sepal length (cm)','sepal width (cm)']]

    sepal length (cm)  sepal width (cm)
5                 5.4               3.9
6                 4.6               3.4
7                 5.0               3.4
8                 4.4               2.9
9                 4.9               3.1
10                5.4               3.7

## Data Selection with condition (資料篩選)

In [28]:
data[data['sepal length (cm)'] > 7]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
102,7.1,3.0,5.9,2.1,2
105,7.6,3.0,6.6,2.1,2
107,7.3,2.9,6.3,1.8,2
109,7.2,3.6,6.1,2.5,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
122,7.7,2.8,6.7,2.0,2
125,7.2,3.2,6.0,1.8,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2

In [31]:
data[data['target'].isin([1,2])]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
55,5.7,2.8,4.5,1.3,1
56,6.3,3.3,4.7,1.6,1
57,4.9,2.4,3.3,1.0,1
58,6.6,2.9,4.6,1.3,1
59,5.2,2.7,3.9,1.4,1
60,5.0,2.0,3.5,1.0,1
61,5.9,3.0,4.2,1.5,1
62,6.0,2.2,4.0,1.0,1
63,6.1,2.9,4.7,1.4,1
64,5.6,2.9,3.6,1.3,1
65,6.7,3.1,4.4,1.4,1
66,5.6,3.0,4.5,1.5,1
67,5.8,2.7,4.1,1.0,1
68,6.2,2.2,4.5,1.5,1
69,5.6,2.5,3.9,1.1,1
70,5.9,3.2,4.8,1.8,1
71,6.1,2.8,4.0,1.3,1
72,6.3,2.5,4.9,1.5,1
73,6.1,2.8,4.7,1.2,1
74,6.4,2.9,4.3,1.3,1
75,6.6,3.0,4.4,1.4,1
76,6.8,2.8,4.8,1.4,1
77,6.7,3.0,5.0,1.7,1
78,6.0,2.9,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,2
121,5.6,2.8,4.9,2.0,2
122,7.7,2.8,6.7,2.0,2
123,6.3,2.7,4.9,1.8,2
124,6.7,3.3,5.7,2.1,2
125,7.2,3.2,6.0,1.8,2
126,6.2,2.8,4.8,1.8,2
127,6.1,3.0,4.9,1.8,2
128,6.4,2.8,5.6,2.1,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
132,6.4,2.8,5.6,2.2,2
133,6.3,2.8,5.1,1.5,2
134,6.1,2.6,5.6,1.4,2
135,7.7,3.0,6.1,2.3,2
136,6.3,3.4,5.6,2.4,2
137,6.4,3.1,5.5,1.8,2
138,6.0,3.0,4.8,1.8,2
139,6.9,3.1,5.4,2.1,2
140,6.7,3.1,5.6,2.4,2
141,6.9,3.1,5.1,2.3,2
142,5.8,2.7,5.1,1.9,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## Data Calculation (資料運算)

In [32]:
data.apply(lambda x: x+1).head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,4.5,2.4,1.2,1
1,5.9,4.0,2.4,1.2,1
2,5.7,4.2,2.3,1.2,1
3,5.6,4.1,2.5,1.2,1
4,6.0,4.6,2.4,1.2,1

In [34]:
data['sepal length (cm)'].apply(lambda x: x+2).head(5)

0    7.1
1    6.9
2    6.7
3    6.6
4    7.0
Name: sepal length (cm), dtype: float64

In [35]:
data['sepal length (cm)'].map(lambda x: x+2).head(5)

0    7.1
1    6.9
2    6.7
3    6.6
4    7.0
Name: sepal length (cm), dtype: float64

In [36]:
data.apply(lambda x: x+3).head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,8.1,6.5,4.4,3.2,3
1,7.9,6.0,4.4,3.2,3
2,7.7,6.2,4.3,3.2,3
3,7.6,6.1,4.5,3.2,3
4,8.0,6.6,4.4,3.2,3

## Data Grouping (資料分群)

In [37]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [39]:
#加總
data.groupby(by='target').sum()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,250.3,170.9,73.2,12.2
1,296.8,138.5,213.0,66.3
2,329.4,148.7,277.6,101.3

In [40]:
#平均值
data.groupby(by='target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.418,1.464,0.244
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [41]:
for i in data.groupby(by='target'):
    print(i)

(0,     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4
16                5.4               3.9                1.3               0.4
17                5.1               3.5                1.4               0.3
18                5.7               3.8                1.7               0.3
19                5.1               3.8                1.5               0.3
20                5.4               3.4                1.7               0.2
21                5.1               3.7                1.5               0.4
22                4.6               3.6                1.0               0.2
23                5.1               3.3                1.7               0.5
24                4.8               3.4                1.9               0.2
25                5.0               3.0                1.6               0.2
26                5.0               3.4                1.6               0.4
27                5.2               3.5                1.5               0.2
28                5.2               3.4                1.4               0.2
29                4.7               3.2                1.6               0.2
30                4.8               3.1                1.6               0.2
31                5.4               3.4                1.5               0.4
32                5.2               4.1                1.5               0.1
33                5.5               4.2                1.4               0.2
34                4.9               3.1                1.5               0.1
35                5.0               3.2                1.2               0.2
36                5.5               3.5                1.3               0.2
37                4.9               3.1                1.5               0.1
38                4.4               3.0                1.3               0.2
39                5.1               3.4                1.5               0.2
40                5.0               3.5                1.3               0.3
41                4.5               2.3                1.3               0.3
42                4.4               3.2                1.3               0.2
43                5.0               3.5                1.6               0.6
44                5.1               3.8                1.9               0.4
45                4.8               3.0                1.4               0.3
46                5.1               3.8                1.6               0.2
47                4.6               3.2                1.4               0.2
48                5.3               3.7                1.5               0.2
49                5.0               3.3                1.4               0.2

    target
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
34       0
35       0
36       0
37       0
38       0
39       0
40       0
41       0
42       0
43       0
44       0
45       0
46       0
47       0
48       0
49       0  )
(1,     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
50                7.0               3.2                4.7               1.4
51                6.4               3.2                4.5               1.5
52                6.9               3.1                4.9               1.5
53                5.5               2.3                4.0               1.3
54                6.5               2.8                4.6               1.5
55                5.7               2.8                4.5               1.3
56                6.3               3.3                4.7               1.6
57                4.9               2.4                3.3               1.0
58                6.6               2.9                4.6               1.3
59                5.2               2.7                3.9               1.4
60                5.0               2.0                3.5               1.0
61                5.9               3.0                4.2               1.5
62                6.0               2.2                4.0               1.0
63                6.1               2.9                4.7               1.4
64                5.6               2.9                3.6               1.3
65                6.7               3.1                4.4               1.4
66                5.6               3.0                4.5               1.5
67                5.8               2.7                4.1               1.0
68                6.2               2.2                4.5               1.5
69                5.6               2.5                3.9               1.1
70                5.9               3.2                4.8               1.8
71                6.1               2.8                4.0               1.3
72                6.3               2.5                4.9               1.5
73                6.1               2.8                4.7               1.2
74                6.4               2.9                4.3               1.3
75                6.6               3.0                4.4               1.4
76                6.8               2.8                4.8               1.4
77                6.7               3.0                5.0               1.7
78                6.0               2.9                4.5               1.5
79                5.7               2.6                3.5               1.0
80                5.5               2.4                3.8               1.1
81                5.5               2.4                3.7               1.0
82                5.8               2.7                3.9               1.2
83                6.0               2.7                5.1               1.6
84                5.4               3.0                4.5               1.5
85                6.0               3.4                4.5               1.6
86                6.7               3.1                4.7               1.5
87                6.3               2.3                4.4               1.3
88                5.6               3.0                4.1               1.3
89                5.5               2.5                4.0               1.3
90                5.5               2.6                4.4               1.2
91                6.1               3.0                4.6               1.4
92                5.8               2.6                4.0               1.2
93                5.0               2.3                3.3               1.0
94                5.6               2.7                4.2               1.3
95                5.7               3.0                4.2               1.2
96                5.7               2.9                4.2               1.3
97                6.2               2.9                4.3               1.3
98                5.1               2.5                3.0               1.1
99                5.7               2.8                4.1               1.3

    target
50       1
51       1
52       1
53       1
54       1
55       1
56       1
57       1
58       1
59       1
60       1
61       1
62       1
63       1
64       1
65       1
66       1
67       1
68       1
69       1
70       1
71       1
72       1
73       1
74       1
75       1
76       1
77       1
78       1
79       1
80       1
81       1
82       1
83       1
84       1
85       1
86       1
87       1
88       1
89       1
90       1
91       1
92       1
93       1
94       1
95       1
96       1
97       1
98       1
99       1  )
(2,      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
100       2
101       2
102       2
103       2
104       2
105       2
106       2
107       2
108       2
109       2
110       2
111       2
112       2
113       2
114       2
115       2
116       2
117       2
118       2
119       2
120       2
121       2
122       2
123       2
124       2
125       2
126       2
127       2
128       2
129       2
130       2
131       2
132       2
133       2
134       2
135       2
136       2
137       2
138       2
139       2
140       2
141       2
142       2
143       2
144       2
145       2
146       2
147       2
148       2
149       2  )

In [42]:
data.groupby(by='target').apply(lambda x: x.sort_values(by=['sepal length (cm)'], ascending=False)[1:2])

,,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
target,,,,,,
0,18,5.7,3.8,1.7,0.3,0
1,52,6.9,3.1,4.9,1.5,1
2,135,7.7,3.0,6.1,2.3,2

In [44]:
data[data['target']==0]['sepal length (cm)'].sort_values()

13    4.3
8     4.4
38    4.4
42    4.4
41    4.5
22    4.6
3     4.6
47    4.6
6     4.6
2     4.7
29    4.7
24    4.8
30    4.8
12    4.8
11    4.8
45    4.8
9     4.9
37    4.9
34    4.9
1     4.9
40    5.0
35    5.0
43    5.0
26    5.0
25    5.0
49    5.0
4     5.0
7     5.0
23    5.1
46    5.1
44    5.1
39    5.1
19    5.1
17    5.1
21    5.1
0     5.1
32    5.2
28    5.2
27    5.2
48    5.3
16    5.4
31    5.4
10    5.4
20    5.4
5     5.4
36    5.5
33    5.5
18    5.7
15    5.7
14    5.8
Name: sepal length (cm), dtype: float64